@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    background-color: #6E4980;
    color: white;
    font-family: "RocknRoll One", sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2{
    text-align: center;
}
h1{
    background-image: url(/asset/images/rock-banner.jpeg);
    padding: 1rem 5em;
    background-position: 0;
}

.center{
    text-align: center;
}

#start-button{
    margin-top: 10rem;
    padding: 2rem 3rem;
    background-color: #452255;
    color: white;
    font-size: 70PX;
    font-weight: bold;
}
#start-button:hover{
    background-color: #b086c4;
    transform: scale(1.2);
}

#form{
    text-align: center;
    margin-top: 10rem;
}
#form h3{
    font-size: 30px;
}
#answers ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;  
    justify-content: center;  
}
#answers li{
    padding: 2rem 2rem;
    background-color: #CEBFD5;
    border-radius: 1rem;
}
#answers a{
    color: white;
    text-decoration: none;
}
#answers li:hover{
    transform: scale(1.2);
    background-color: #452255;
}